* {
  font-family: 'Roboto', sans-serif; }

.Absolute-Center, .location .locationNameContainer {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

body {
  height: 100%;
  padding: 0px;
  margin: 0px;
  background-color: #212121; }

#landingPageHeader {
  color: #212121;
  -webkit-animation: landingPageHeader 1s forwards;
  animation: landingPageHeader 1s forwards; }

.row:nth-of-type(n+2) {
  margin-top: 30px; }

.montrealBixiClicktag {
  cursor: pointer; }

@keyframes landingPageHeader {
  0% {
    background-color: #FAFAFA; }
  100% {
    background-color: #FFD740; } }

@-webkit-keyframes landingPageHeader {
  0% {
    background-color: #FAFAFA; }
  100% {
    background-color: #FFD740; } }

/* typed.js */
.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit; }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.col-xs-12 {
  padding: 10px; }

#europeMap {
  border: 4px solid #fff;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
  height: 400px; }

.location {
  cursor: pointer;
  border: 4px solid #fff;
  border-radius: 4px;
  background-color: black;
  overflow: hidden; }
  .location .locationImage {
    vertical-align: middle;
    display: inline-block;
    max-width: 100%;
    height: auto;
    transition: transform 0.25s ease-out; }
  .location:hover .locationImage {
    opacity: 0.5;
    filter: blur(1px);
    transform: scale(1.5);
    transition: transform 0.25s ease-in; }
  .location:hover .locationNameContainer {
    opacity: 1;
    transition: opacity 0.25s ease-in; }
  .location .locationNameContainer {
    opacity: 0;
    transition: opacity 0.25s ease-out;
    width: 100%;
    height: 100%;
    display: table; }
    .location .locationNameContainer .locationName {
      color: white;
      font-size: 2em;
      text-align: center; }
